<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/groups.css">
    <title>Document</title>
</head>
<body>
    
    <header class="flex-center">
        <div class="title">Grupos</div>
        <div id="drop-menu">
            <div class="drop-line dp-1"></div>
            <div class="drop-line dp-2"></div>
            <div class="drop-line dp-3"></div>
        </div>
    </header>
    

    <main class="flex-center">
        <div id="group-container">
            <div class="group flex-center blank"></div>  
        </div>

        <div id="new-group-btn" class="flex-center">
            <div class="dash d-1"></div>
            <div class="dash d-2"></div>
        </div>

        <div id="gradient"></div>
        
        <div id="pop-up" class="flex-center">
            <div class="pop-up-container">
                 <h4 class="pop-up-title">Novo Grupo</h4>
                 <input type="text" id="pop-up-input-name" placeholder="Nome do grupo" maxlength="12">
                 <div class="pop-up-button-container">
                    <button id="accept-btn" class="pop-up-btn">Confirma</button>
                    <button id="cancel-btn" class="pop-up-btn">Cancela</button>
                 </div>     
            </div>       
        </div>
    </main>
    <footer></footer>
    
    <script src="/dist/groups/controller.js"></script>
</body>
</html>