<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="title">MG IoT</div>
        <div id="drop-menu">
            <div class="drop-line-1"></div>
            <div class="drop-line-2"></div>
            <div class="drop-line-3"></div>
        </div>

    </header>
    <main>
      <div class="login-btn" id="login">
        <div class="login-name">Login</div>
      </div>
        
    </main>
      
    <footer>


    </footer>]
    
    <script src="./dist/index/index.js"></script>

</body>
</html>